*,:after,:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 1rem 0;
  background-color: #142666;
}

nav *, main *, footer * {
  opacity: 0;
  animation: fadeIn 1s ease forwards;

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}

html {
  font-family: "Barlow";
  scroll-behavior: smooth;
  font-size: 14px;
  @media (min-width: 600px) {
    font-size:16px;
  }

  @media (min-width: 1500px) {
    font-size:18px;
  }
  
  @media (min-width: 2000) {
    font-size:20px;
  }
  
  @media (min-width: 2200px) {
    font-size:22px;
  }
}

.content__wrapper p {
  color: #3e3e3e;
  font-weight: 300;
}

strong {
  color: #161924;
  font-weight: 500;
}

.content__wrapper>h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.content__wrapper>h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.content--chapters>.content__wrapper {
  max-width: 85ch;
}

.content--chapters section.content__wrapper:first-child {
  padding-top: 10rem;
}

a {
  text-decoration: none;
}

h1,h2,h3,h5 {
  color: #142666;
}

h3 {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

h4 {
  color: #2a59ff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

header,main {
  background-color: #fff;
}

section {
  position: relative;
}

main {
  border-radius: 0 0 .25rem .25rem;
}

main section {
  padding: 0 2rem;
  max-width: 50rem;
  margin: auto;
}

@media (min-width: 1250px) {
  main section {
      width:80%;
      max-width: unset;
  }
}

.intro__wrapper {
  padding-top: 5rem;
}

.content__wrapper a {
  color: #2a59ff;
  text-decoration: underline;
}

.content__wrapper a:hover,.content__wrapper a:focus {
  text-decoration: none;
}

.content__wrapper,section {
  padding-bottom: 4rem;
}

.content__wrapper>h1,section>h1 {
  font-size: 3.5rem;
  letter-spacing: -.035em;
  margin-bottom: 2rem;
}

.content__wrapper>h2,section>h2 {
  font-size: 1.75rem;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 7rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.content__wrapper>h4,section>h4 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -.025rem;
}

.content__wrapper>p,section>p {
  font-size: 1.25rem;
  max-width: 75ch;
  line-height: 1.35em;
}

.content__wrapper>p+p,section>p+p {
  margin-top: 2rem;
}

.content__wrapper>ul,.content__wrapper ol,section>ul,section ol {
  padding-left: 1.75rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  color: #3b3b3b;
  line-height: 1.35em;
}

.content__wrapper>ul p,.content__wrapper ol p,section>ul p,section ol p {
  font-weight: 600;
}

.content__wrapper li,section li {
  margin: .5rem 0;
}

.content__wrapper blockquote,section blockquote {
  position: relative;
  padding-left: 2rem;
  max-width: 60ch;
  font-size: 1.25rem;
  margin: 3rem 0;
}

.content__wrapper blockquote:before,section blockquote:before {
  content: "";
  width: .75rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  background-color: #2a59ff;
}

.content__wrapper blockquote p,section blockquote p {
  margin-bottom: 1rem;
  opacity: .75;
}

.content__wrapper blockquote a,section blockquote a {
  color: #2a59ff;
  text-decoration: underline;
}

.content__wrapper blockquote a:hover,section blockquote a:hover {
  text-decoration: none;
}

.additional-content {
  width: 100%;
  max-width: 100%;
  background-color: #f1f3fa;
  border-radius: 0 0 .25rem .25rem;
  padding: 2rem 0;
}

.additional-content>div {
  padding: 1rem 2rem;
  max-width: 85ch;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-content .adobe {
  align-items: flex-start;
}

@media (min-width: 1250px) {
  .additional-content>div {
      width:80%;
      max-width: 85ch;
  }
}

.additional-content h3 {
  font-size: 2.85rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.additional-content p {
  max-width: 60ch;
  font-size: 1.25rem;
  color: #142666;
}

.additional-content p a {
  color: #2a59ff;
  text-decoration: underline;
}

.additional-content p a:hover {
  text-decoration: none;
}

.content__wrapper .button__cta {
  text-decoration: none;
  background-color: #2a59ff;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  margin-top: 2rem;
  font-weight: 500;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  letter-spacing: 1px;
}

.button__cta:hover {
  background-color: #1737ad;
}

header {
  position: fixed;
  z-index: 100;
  margin: -1rem;
  background-color: #142666;
  padding: 1rem 1rem 0;
  width: 100%;
}

header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  border-radius: .25rem .25rem 0 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 750px) {
  header nav {
      padding:0 2.5%;
  }
}

.navigation__links {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;

  > li {

    &:hover, &:focus {
      cursor: pointer;
    }

    button:hover {
      cursor: default;
    }

    .submenu__trigger:focus, > a:focus {
      background-color: #f2f5ff;

      & + .chapter__submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      .submenu__trigger, > a {
        background-color: #f2f5ff;
      }
      .chapter__submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    &.submenu--active {
      .submenu__trigger, > a {
        background-color: #f2f5ff;
      }
      .chapter__submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    .submenu__trigger:hover, > a:hover {
      background-color: #f2f5ff;
    }

    .chapter__submenu:focus-within {
      opacity: 1;
      visibility: visible;
    }


    &:after {
      content: "";
      position: absolute;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    > a, > p, > button {
      padding: 1.25rem 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      color: #6674a9;
      position: relative;
      -webkit-transition: background-color .25s ease;
      transition: background-color .25s ease;

      @media (min-width: 760px) {
        padding:2rem 1rem;
      }
    }
  }

  .link--active {
    font-weight: 700;
    color: #142666;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #2a59ff;
    }
  }
}

@media (min-width: 750px) {
  .navigation__links,.navigation__links>li {
      position:relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
}

.chapter__submenu {
  min-width: 100%;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  right: 0;
  white-space: nowrap;
  list-style-type: none;
  will-change: transform;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;

  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  position: absolute;

  // &:hover {
  //   opacity: 1;
  //   visibility: visible;
  // }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    color: #272b3a;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    background-color: #fff;

    h5 {
      margin-right: 1rem;
      font-size: 1.25rem;
      width: 2ch;
    }

    p {
      display: inline-block;
    }

    &:focus, &:hover {
      background-color: #2a59ff;
      color: #fff;
    }
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 1rem;
}

@media (min-width: 750px) {
  footer {
      padding:2rem 2.5%;
  }
}

footer>* {
  margin: .5rem .5rem .5rem 0;
}

footer .main-logo {
  color: #fff;
  margin-right: 2rem;
}

footer .logo__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.copyright-info {
  line-height: 1.5em;
  color: #d9f4ff;
  opacity: .95;
  padding: .75rem;
}

.main-logo {
  padding: .75rem;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -.025rem;
  max-width: 14ch;
  color: #142666;
  display: inline-block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.main-logo:hover {
  opacity: .75;
}

.logo--adobe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.logo--adobe svg {
  width: 3em;
  margin-right: .75rem;
}

.logo--adobe p {
  max-width: 12ch;
  font-size: 1rem;
  font-weight: 500;
}

.logo--greyscale {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

.intro__container {
  padding-top: 10rem;
}

.intro__container h1 {
  font-size: 4rem;
  max-width: 12ch;
  line-height: .95em;
  margin-top: 1.5rem;
}

@media (min-width: 750px) {
  .intro__container h1 {
      font-size:6rem;
  }
}

.intro__container>p {
  font-size: 1.25rem;
  color: #2a59ff;
  font-weight: 500;
  margin-top: 1rem;
}

.grid__container {
  display: grid;
  grid-gap: 1.5rem;
}

@media (min-width: 600px) {
  .grid__container {
      grid-template-columns:1fr 1fr;
  }
}

@media (min-width: 1250px) {
  .grid__container {
      grid-template-columns:1fr 1fr 1fr;
  }
}

.grid__container a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 2rem;
  border-radius: 2px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 1px #dbdbdb;
  box-shadow: 0 0 0 1px #dbdbdb;
  font-size: 1.25rem;
  color: #2a59ff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.grid__container a p {
  padding-top: 8px;
}

.grid__container a:focus,.grid__container a:hover {
  background-color: #f2f5ff;
  border-color: #2a59ff;
  -webkit-box-shadow: 0 0 0 1px #2a59ff;
  box-shadow: 0 0 0 1px #2a59ff;
}

.grid__container a h2 {
  font-size: 2rem;
  margin-right: 1.5rem;
}

@media (min-width: 1250px) {
  .content--chapters .intro__wrapper {
      display:-webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }

  .content--chapters .intro__wrapper .content__wrapper {
      max-width: 70ch;
  }
}

.content--chapters .intro__wrapper .content__wrapper {
  margin-bottom: 2rem;
}

.chapter__contents {
  background-color: #f2f5ff;
  padding: 2rem;
  border-radius: .35rem;
}

.chapter__contents h4 {
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0;
}

.chapter__contents a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 1.125rem;
  margin-top: 1rem;
  color: #142666;
}

.chapter__contents a:hover {
  text-decoration: underline;
}

.chapter__contents span {
  font-weight: 600;
  margin-right: .75em;
}

.resources__list {
  margin: 4rem 0;
}

.list__item {
  margin: 2rem 0;
  height: 100%;
}

@media (min-width: 1000px) {
  .list__item {
      max-width:60rem;
  }
}

.list__item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #142666;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

@media (min-width: 650px) {
  .list__item a {
      -webkit-box-orient:horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
  }
}

.list__item a:hover {
  border: 1px solid #2a59ff;
}

.list__item figure {
  overflow: hidden;
  height: 10rem;
}

@media (min-width: 650px) {
  .list__item figure {
      width:30%;
      height: unset;
      max-height: 12.5rem;
  }
}

.list__item figure img {
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list__item div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.5rem;
}

.list__item h3 {
  color: #2a59ff;
  font-size: 1.5rem;
}

.list__item p {
  max-width: 70ch;
}

figure img {
  max-width: 100%;
  margin-top: 2rem;
}

figcaption {
  margin-bottom: 3rem;
  color: #9d9d9d;
}

code {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: .25rem;
  display: inline-block;
  color: #4a4a4a;
  margin: 2rem 0;
  width: 100%;
}

.additional-content--extra {
  background-color: #e8ebfc;
}

.additional-content img {
  text-align: center;
}

.grid__container .link--inactive {
  opacity: .85;
  color: #b0b0b0;
  pointer-events: none;
  box-shadow: 0 0 0 1px #b8b8b8;
  background-color: #f7f7f7;
}

.link--inactive h2,.link--inactive p {
  color: #b0b0b0;
}

.additional__about h3 {
  font-size: 1.35rem;
  margin: 0;
  padding-top: 1rem;
}

.additional__about a {
  font-size: 1.25rem;
}

.copyright-info a {
  color: #6ec7ff;
  text-decoration: underline;
}

.copyright-info a:hover {
  text-decoration: none;
}

.navigation__links .link--inactive {
  opacity: .85;
  color: #b0b0b0;
  pointer-events: none;
  background-color: #f7f7f7;
}

.navigation__links .link--inactive h5 {
  color: #b0b0b0;
}

@media (max-width: 750px) {
  .menu__toggle {
      all:unset;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      transition: all .2s ease;
  }

  .menu__toggle:hover {
      opacity: .5;
  }

  .menu__toggle svg {
      margin-left: .5em;
      fill: #142666;
  }

  .navigation__mobile {
      transition: all .2s ease;
      visibility: hidden;
      opacity: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      background-color: #142666;
      list-style-type: none;
      padding: 2rem 1.25rem;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
  }

  .mobile__menu--active .navigation__mobile {
      visibility: visible;
      opacity: 1;
  }

  .mobile__menu--active {
      overflow: hidden;
      max-height: 100%;
  }

  .mobile__menu--active header {
      height: 100%;
  }

  header {
      margin: 0 auto;
      padding: 0;
  }

  body {
      padding: 0;
  }

  header nav,main {
      border-radius: unset;
  }
}

@media (min-width: 750px) {
  .navigation__mobile,.menu__toggle {
      display:none;
  }
}

.navigation__mobile {
  color: #fff;
}

.navigation__mobile a {
  border-radius: 3px;
  padding: .75rem;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  transition: all .2s ease;
}

.navigation__mobile li {
  font-size: 1.125rem;
}

.link--top {
  padding: .75rem;
  font-weight: 500;
  color: #0bf;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.navigation__mobile a h5 {
  color: rgba(255,255,255,0.75);
  font-size: 1.75rem;
  margin-right: .5em;
}

.navigation__mobile li>a:hover {
  opacity: .85;
  background-color: rgba(255,255,255,0.2);
}

.navigation__mobile li:last-child {
  margin-bottom: 3rem;
}

.navigation__mobile .link--inactive p,.navigation__mobile .link--inactive h5 {
  color: rgba(111,132,164,0.5);
}

.navigation__mobile .link--inactive:hover {
  background-color: unset;
  cursor: default;
  opacity: 1;
}

.social-share .social-share__button {
  background-color: #1da1f2;
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  font-size: 1.125rem;
}

.social-share__button svg {
  margin-right: .5rem;
}

.social-share h3 {
  text-align: center;
  max-width: 25ch;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.social-share h4 {
  font-weight: 600;
}

.intro__start {
  background-color: rgb(246, 250, 255);
  padding: 2rem;
  margin-top: 4rem;
  border-radius: .25rem;

  .content__wrapper {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    p {
      max-width: 70ch;
      margin: 1rem 0;
      margin-right: 2rem;
    }
  }

  .cta {
    margin: 1rem 0;
    background-color: #2a59ff;
    padding: 1.5rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 600;
    max-width: 17.5rem;
    transition: background-color .2s ease, box-shadow .2s ease;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    svg {
      margin-left: .5rem;
      transition: transform .2s ease;
    }

    &:hover {
      background-color: #1441e1;
      box-shadow: 0 0 0 5px #9ac7ff;

      svg {
        transform: translateX(.35rem);
      }
    }
  }
}