<section class="additional-content">
  <div class="content__wrapper additional__about">
      <img src="/images/overview/mr-murphy.png" alt="Christopher Murphy">
      <h3>Christopher Murphy</h3>
      <a href="https://www.twitter.com/fehler" style="margin-bottom: 2rem;" target='__blank'>@fehler</a>
      <p>A designer, writer and speaker based in Belfast, Christopher mentors purpose-driven businesses,
          helping them to launch and thrive. He encourages small businesses to think big and he enables big
          businesses to think small.</p>
      <p>As a design strategist he has worked with companies, large and small, to help drive innovation,
          drawing on his 25+ years of experience working with clients including: Adobe, EA and the BBC.</p>
      <p>The author of numerous books, he is currently hard at work on his eighth, ‘Designing Delightful
          Experiences’, for Smashing Magazine and ninth, ‘Building Beautiful UIs’, for Adobe. Both are
          accompanied by a wealth of digital resources, and are drawn from Christopher’s 15+ years of
          experience as a design educator.</p>
  </div>
</section>

<section class="additional-content additional-content--extra">
    <div class="social-share">
        <h4>Found this useful?</h4>
        <h3>Share it with others!</h3>
        <a href="https://twitter.com/intent/tweet?text=Learn%20to%20build%20beautiful%20user%20interfaces%20with%20%40fehler's%20course%20in%20a%20book%3A%20bbuis.org" target='_blank' class='social-share__button'>
          <svg xmlns="http://www.w3.org/2000/svg" width='1.5em' viewBox="0 0 72 72" fill='currentColor'><path d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg>
          Share BBUIs</a>
      </div>
  <div class="content__wrapper">
      <p>I hope you find this resource useful. I’m also currently working on a book for the fine folks at <a
              href="https://www.smashingmagazine.com/" target='__blank'>Smashing Magazine</a> – ‘Designing
          Delightful Experiences’ – which focuses on the user experience design process from start to finish.
          It will be published in late 2019.</p>
      <p>You might like to <a href="https://twitter.com/fehler/" target='__blank'>follow me on Twitter</a> for
          updates on this book, that book and other projects I’m working on.</p>
  </div>
</section>