---
layout: default
---
<main class='content--resources content--chapters'>
    <section class="content__wrapper">
        <h4>Resources</h4>
        <h1>{{ page.title }}</h1>

        {{ content }}
    </section>

    <section class="resources--desktop content__wrapper">
        <h2>Desktop</h2>
        <p>The desktop examples I’ve included are browser-focused, but the principles apply equally to desktop software.</p>

        <div class="resources__list">
            {% for item in page.section-desktop %}
            <article class='list__item'>
                <a href="{{ item.url }}" target="__blank">
                    <figure>
                        <img src="{{ item.image }}" alt="{{ item.image-alt-text }}">
                    </figure>
                    <div>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>

    <section class="resources--mobile content__wrapper">
        <h2>Mobile (Smartphone, Tablet)</h2>
        <p>The mobile examples I’ve included are for iOS (because I have an iPhone), but – broadly – the principles of information architecture and user interface design map over to other mobile platforms.</p>

        <div class="resources__list">
            {% for item in page.section-mobile %}
            <article class='list__item'>
                <a href="{{ item.url }}" target="__blank">
                    <figure>
                        <img src="{{ item.image }}" alt="{{ item.image-alt-text }}">
                    </figure>
                    <div>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>

    <section class="resources--mobile content__wrapper">
        <h2>Wrist</h2>
        <p>The wrist examples I’ve included are for Apple’s watchOS (because I have an Apple Watch). If possible – and of course affording every single device is an issue! – it helps to own the devices you’re designing for so you can truly understand them by using them regularly. </p>

        <div class="resources__list">
            {% for item in page.section-wrist %}
            <article class='list__item'>
                <a href="{{ item.url }}" target="__blank">
                    <figure>
                        <img src="{{ item.image }}" alt="{{ item.image-alt-text }}">
                    </figure>
                    <div>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>

    {%- include colophon.html -%}
</main>